<html>

<head>
    <title>Test 2</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <style>
        body {
            background-color: black;
            color: white;
            font-size: larger;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    </style>

</head>

<body ng-app="">

    Enter first number : <input type="number" ng-model="n1"><br><br>
    Enter second number : <input type="number" ng-model="n2"><br><br>

    Addition : {{n1 + n2}}
</body>

</html>